/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.box-icons {
    width: 2rem;
}
.underline-text{
    text-decoration: 2px underline red;
}