################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZumPostApp/.vs/ZumPostApp
/ZumPostApp/zumpostapp.client/.vscode
